{{/*
line below and hidden input in the form gen config
is required for Netlify form to work with js rendered form
*/}}

<form data-netlify="true" name="Contact"></form>
<form-basic
  data-form-name="Contact"
  data-consent-required="true"
  data-consent-text="I agree to"
  data-policy-url="/terms-and-conditions"
  data-policy-text="terms and conditions"
  data-message-success=""
  data-message-failed=""
  data-json='
    [
      {
        "name": "Contact",
        "label": "Contact",
        "type": "hidden",
        "placeholder": "",
        "default": "Contact",
        "require": true
      },
      {
        "name": "name",
        "label": "Name",
        "type": "text",
        "placeholder": "Your Name",
        "default": "",
        "require": true
      },
      {
        "name": "email",
        "label": "Email",
        "type": "email",
        "placeholder": "Your Email",
        "default": "",
        "require": true
      },
      {
        "name": "message",
        "label": "Message",
        "type": "textarea",
        "placeholder": "Your Message",
        "default": "",
        "require": true
      }
    ]
  '
>
</form-basic>
