
 :root {

   /* Font */
   --font-default: "Lora", "georgia", serif;
   --font-heading: "Poppins", "arial",sans-serif;
   --font-ui: "Poppins", sans-serif;
   --font-size-base: 20px;


   /* Color */
   --color-00: #000000;
   --color-01: #ffffff;
   --color-02: #2c698d;
   --color-03: #272643;
   --color-04: #bae8e8;
   --color-04: #e3f6f5;

   /* Space */
   --space-s: .5rem;
   --space-m: 1rem;
   --space-l: 1.5rem;

   /* Break Point */
   --mobile: 480px;
   --big-mobile: 540px;
   --tablet: 768px;
   --big-tablet: 960px;
   --desktop: 1024px;
   --big-desktop: 1240px;


 }
