.site-footer {
  background: var(--color-03);
  padding: var(--space-l);
  font-family: var(--font-ui);
  font-weight: 400;
  color: var(--color-01);
  margin-top: calc(var(--space-l) * 4);
}

.site-footer a {
  color: var(--color-01);
}

.site-footer__inner {
  display: grid;
  grid-template-columns: 200px 1fr auto;
  grid-gap: var(--space-m);
  margin-bottom: var(--space-l);
}

.site-footer__logo {
  max-width: 200px;
  height: 100px;
  display: grid;
  grid-template-columns: 200px;
}

.site-footer__logo img {
  filter: grayscale(1) invert(1) brightness(100);
  max-height: 80px;
}

.site-footer__nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--space-s);
}

.site-footer__legal {
  text-align: center;
  font-family: var(--font-ui);
  font-size: .8rem;
}

@media (max-width: 768px) {

  .site-footer__logo {
    margin: 0 auto;
  }

  .site-footer__inner {
    grid-template-columns: 1fr;
    grid-gap: var(--space-m);
    text-align: center;
    margin-bottom: var(--space-l);
  }
}
