{{ $filename := .Params.image }}
{{ $img := "" }}
{{ $imgPath := "" }}

{{ if .Resources.Get $filename }}
  {{ $img = .Resources.Get $filename }}
  {{ $imgPath = $img.Permalink }}
{{ else }}
  {{ $imgPath = "" }}
{{ end }}

{{ $tag := .Params.component }}
{{ $title := .Params.data_title }}
{{ $titleLevel := .Params.data_title_level }}
{{ $subtitle := .Params.data_subtitle }}
{{ $body := .Params.data_body | markdownify }}
{{ $image := $imgPath }}
{{ $ctaText := .Params.cta_text }}
{{ $ctaLink := .Params.cta_link }}

<section class="hero">
  <div class="container">
    {{ $body }}
  </div>
</section>
