{{ define "main" }}

  <section class="container">
    {{ with .GetPage "home" }}
      {{ range .Pages }}

        {{ if .Params.component }}
          {{ $pathWebComponent := printf "web-components/%s" .Params.component }}
          {{ partial $pathWebComponent . }}
        {{ end }}


        {{ if .Params.partial }}
          {{ $pathPartial := printf "%s" .Params.partial }}
          {{ partial $pathPartial . }}
        {{ end }}
      {{ end }}
    {{ end }}
  </section>

  <!-- {{ with .GetPage "home/hero" }} -->
  <!--   {{ partial "hero--m" . }} -->
  <!-- {{ end }} -->

  <!-- <section class="container--l"> -->
  <!--   {{ with .GetPage "home/value-prop-01" }} -->
  <!--     {{ partial "web-components/media-object" . }} -->
  <!--   {{ end }} -->

  <!--   {{ with .GetPage "home/value-prop-02" }} -->
  <!--     {{ partial "web-components/media-object-reverse" . }} -->
  <!--   {{ end }} -->

  <!--   {{ with .GetPage "home/value-prop-03" }} -->
  <!--     {{ partial "media-object" . }} -->
  <!--   {{ end }} -->
  <!-- </section> -->
{{ end }}
